# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcodeproj
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.xcarchive

# Swift Package Manager
.build/
.swiftpm/xcuserdata/

# CocoaPods / Carthage (not used, ignored defensively)
Pods/
Carthage/Build/
